body {
    margin-inline: 15vw;
}

.blog-title {
    padding-block: 30px;
}

.title-style {
    text-align: left;
    font-weight: 900;
}

.image-style {
    height: 350px;
    width: 70vw;
    object-fit: cover;
}

.blog-content {
    margin-top: 30px;
}

.red {
    color: #eb0028
}

.content-style {
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    .content-style {
        font-size: 12px;
    }
}