.blog-header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-block: 5px;
}

.icon {
    height: 15px;
    width: 15px;
}

.blogs-list {
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    width: calc(100vw - 50px);
    transition: 500ms;
}

.blogs-list:hover {
    color: #eb0028;
    cursor: pointer;
}

.back-button, .next-button {
    width: 50px;
    margin-left: 20px;
}

.back-button:hover, .next-button:hover {
    cursor: pointer;
}

