.page {
  height: 100vh;
}

.slideshow-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slideshow-menu {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.slideshow-images {
  display: flex;
  height: 100%;
  width: 70%;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}
.slideshow-bullseye {
  height: 300px;
  width: 300px;
  position: relative;
}
.slideshow-ring {
  height: 300px;
  width: 300px;
  position: absolute;
  animation: revolvingAnimation 5s infinite linear;
  border-radius: 50%;
  margin-left: -300px;
}
.slideshow-menu > img {
  max-width: 200px;
}
.slideshow-dot {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #eb0028;
  position: relative;
  left: 100%;
  top: 100%;
  border-radius: 50%;
}
.slideshow-dot.two {
  background-color: aqua;
  top: 100%;
  left: 100%;
}

@keyframes revolvingAnimation {
  0% {
    transform: rotate(-360deg);
  }
}

#speakers {
  height: fit-content;
}

#venue-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#venue-photo:hover {
  opacity: 0.5;
  transition: 400ms;
  cursor: pointer;
}

#venue {
  height: fit-content;
  background-color: black;
}

#college-name {
  opacity: 0;
  color: white;
  position: absolute;
  margin-left: 22vw;
  transform: translateY(-550%);
  font-size: 3rem;
  transition: 400ms;
}

#venue-photo:hover + #college-name {
  opacity: 1;
}
