.page {
  height: 100vh;
}

#speakers {
  height: fit-content;
}

#venue-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#venue-photo:hover {
  opacity: 0.5;
  transition: 400ms;
  cursor: pointer;
}

#venue {
  height: fit-content;
  background-color: black;
}

#college-name {
  opacity: 0;
  color: white;
  position: absolute;
  margin-left: 22vw;
  transform: translateY(-550%);
  font-size: 3rem;
  transition: 400ms;
}

#venue-photo:hover + #college-name {
  opacity: 1;
}
