.home-page {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.dp-div {
  height: 100vh;
}

#footer{ 
  height: 85vh;
}

@media only screen and (max-width: 800px) {
  #home-page {
    margin-block: 50px;
    height: 60vh;
  }
}
