.home-page {
  display: grid;
  grid-template-columns: 1fr;
  height: max-content;
}

.dp-div {
  height: 100vh;
  min-height: 600px;
  max-width: 100vw;
}

#footer{ 
  height: 85vh;
}

@media only screen and (max-width: 800px) {
  #home-page {
    margin-block: 50px;
    height: 60vh;
  }
}
