.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 124px;
    margin-bottom: 24px;
    flex-direction: row;
}

.Flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 142px;
}

.marginBottom{
    margin-bottom: 30px;
}

.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.flexs{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px){
    .flex{
        flex-direction: column;
        gap:60px;
        margin-bottom: 60px;
    }
    .Flex{
        flex-direction: column;
        gap:60px
    }
}