@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* body {
  overflow-x: hidden;
}
img {
  object-fit: cover;
} */


/* .heading1 {
  font-weight: bolder;
  font-size: 3.5em;
}

.globe {
  margin-right: 300px;
  margin-top: 40px;
  height: 500px;
  width: 400px;
}

#top-upper {
  margin-top: 35px;
}

.rect2 {
  margin-top: -50px;
  margin-left: 50px;
  height: 196px;
  width: 312px;
}

.rect1 {
  margin-left: -300px;
  margin-top: -50px;
  height: 281px;
  width: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 25vh;
}

.up {
  margin-top: -150px;
}

.flexImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.imageWrapper {
  display: flex;
}

.down {
  margin-top: -150px;
  margin-left: 700px;
}

.down1 {
  margin-top: 30px;
  margin-left: 700px;
}

.up1 {
  margin-top: 180px;
}

.mic {
  margin-right: 300px;
  margin-top: -530px;
  height: 500px;
  width: 400px;
}

.rectD1 {
  margin-top: 10px;
}

.rectD2 {
  margin-top: 10px;
} */
.Speakers{
margin: 100px 200px;
}

.Speakers h1{
  display:flex ;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px ;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 124px;
  /* margin-bottom: 24px;
  margin-top: 50px; */
  flex-direction: row;
}

.Flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 142px;
}

.pic{
  
  background-color: rgb(234, 0, 0);
  border: 2px solid black ; 
  border-radius: 50% ;
  height: 150px ;
  width:150px ; 
  margin-bottom: 30px;
}

.pic:hover{
  
  border: 5px solid red 50%;
  background-color: rgb(255, 255, 255);
  transition: 300ms;
}

.text{
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.vicetext{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

}

.flexs{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top{
  margin-top: 60px;
}

@media only screen and (max-width: 768px){
  .flex{
      flex-direction: column;
      gap:60px;
      margin-bottom: 60px;
  }
  .Flex{
      flex-direction: column;
      gap:60px;
      margin-bottom: 60px;
  }
}

.container{
  display: flex;
  align-items: center;
}

.speakersection{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.speakerflex{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spname{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */


  color: #EB0028;
}

.post{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #000000;
}

.heading{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #000000;
  margin-top: 60px;
}

@keyframes expand {
  from {
      max-height: 0;
      opacity: 0;
  } to {
      max-height: 400px;
      opacity: 1;
  }
  
}

@media only screen and (max-width: 768px){
  .container{
    flex-direction: column;
  }
  .imagediv{
    display: none;
  }
}
