.find-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  background: url("../../resources/paintedx.png") fixed;
  background-size: cover;
}

.find-us-pane.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 500px;
  border: #eb0028 10px solid;
  padding: 5%;
  text-align: center;
  gap: 50px;
}
.find-us-pane.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: -50px;
  height: 300px;
}
.map-frame{
  border-radius: 10px;
}
.find-us-text {
  padding: 0px 20px;
  font-size: 18px;
}
.find-us-heading {
  font-size: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .find-us-section {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vw;
    padding: 0px 50px;
    background: none;
    gap: 0;
    margin-top: 100px;
  }
  .find-us-pane.content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 300px;
    padding: 5%;
    gap: 20px;
    border-top: 0;
  } 
  .find-us-pane.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 5%;
    margin: 0;
    border: #eb0028 10px solid;
    border-bottom: 0;
  }
  .map-frame {
    height: 250px;
    width: 100%;
    border: 0;
  }
  .find-us-text {
    font-size: 16px;
  }
  .find-us-heading {
    font-size: 20px;
    font-weight: bold;
  }
}
