@media only screen and (max-width: 570px) and (min-width:409px) {
  .container {
    margin-top: -39px !important;
  }
  .content1{
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 408px) {
  .container {
    margin-top: -60px !important;
  }
  .content1{
    font-size: 7px !important;
  }
}

@media only screen and (min-width: 798px) and (max-width: 893px){
  .container {
    margin-top: -20px !important;
  }
  .content1{
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 670px) and (min-width: 571px){
  .container {
    margin-top: -39px !important;
  }
  .content1{
    font-size: 9px !important;
  }

}
@media only screen and (max-width: 795px) and (min-width: 670px){
  .container {
    margin-top: 20px !important;
  }
  .content1{
    font-size: 12px !important;
  }

}



.container {
  max-width: 1200px;
  max-height: 100vh;
  transform: translateY(-30%);
}

.center {
  white-space: nowrap;
  font-weight: bolder;
  font-size: 40px;
}

.red {
  color: #eb0028;
}

.black {
  color: #130003;
}

.right-side {
  margin-left: 10vw;
  margin-top: -20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.image-container {
  margin-right: 20px;
  margin-top: 30px;
}

.logo {
  position: relative;
  width: 100%;
  max-width: 34vw;
}

.content1 {
  width: 100%;
  max-width: 650px;
  height: auto;
  padding: 20px;
  border: 2px solid #eb0028;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #130003;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .container {
    padding: 8vw;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .right-side {
    margin: 0;
  }

  .logo {
    display: none;
  }

  .center {
    font-size: 40px;
  }

  .content1 {
    max-width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
}
