.our-message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5%;
  gap: 50px;
  margin-top: 50px;
  user-select: none;
}

.our-message-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}

.our-message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.pane {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.pane.right {
  align-items: flex-start;
}
.our-message-writeup {
  border: #eb0028 3px solid;
  padding: 5%;
  font-size: 18px;
}

.our-message-image {
  width: 35vw;
  max-width: 400px;
}

.read-more-button {
  background-color: #eb0028;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}
.read-more-button:hover {
  background-color: white;
  color: black;
}
.read-more-button:active {
  box-shadow: none;
}

.read-more-modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.425);
}
.read-more-writeup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 208px -67px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 208px -67px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 208px -67px rgba(0,0,0,0.75);
  height: max-content;
  width: 90vw;
  padding: 5%;
  border-radius: 20px;
  font-size: large;
}

@media screen and (max-width: 800px) {
  .our-message-content {
    flex-direction: column;
  }
  .our-message-image {
    display: none;
  }
  .pane {
    width: 100%;
  }
  .our-message-container {
    margin-top: 0;
    gap: 0;
  }
  .read-more-writeup {
    font-size: small;
  }
}