.container {
  padding-top: 8vh;
  max-height: 70vh;
  text-align: center;
}

.container .redbulb {
  height: 18vh;
}

.container .titleContainer {
  margin-top: 5vh;
  font-size: 48px;
  font-weight: 500;
}

.container .textContainer {
  margin-top: 5vh;
  max-width: 40vw;
  min-width: 35vw;
  text-align: center;
  font-size: 21px;
}

.container .buttons {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin-top: 5vh;
}

.container .buttons .button {
  color: #eb0028;
  padding: 12px;
  font-size: 21px;
  border: solid 1px #eb0028;
  text-align: center;
  transition: 200ms;
}

.container .buttons .button:hover {
  cursor: pointer;
  background-color: #eb0028;
  color: white;
  padding: 12px;
  font-size: 21px;
  border: solid 1px #eb0028;
}

.container .buttons #event-btn {
  background-color: #eb0028;
  color: white;
}

.container .buttons #event-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #eb0028;
  padding: 12px;
  font-size: 21px;
  border: solid 1px #eb0028;
}

@media only screen and (max-width: 800px) {
  .container {
    padding-top: 0;
  }
  .container .textContainer {
    max-width: 80vw;
  }

  .container .buttons {
    flex-direction: column;
  }

  .container .buttons #event-btn {
    margin-block: 20px;
  }
}