.welcome-section {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: space-around;
  justify-content: center;
  gap: 50px;
  padding: 5%;
  user-select: none;
}

.welcome-pane {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.welcome-image {
  max-width: 400px;
}
.quote {
  font-size: 4vw;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .welcome-section {
    flex-direction: column;
    gap: 50px;
  }
  .welcome-pane {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .welcome-image {
    max-width: 250px;
  }
  .quote {
    font-size: 5vw;
    padding: 3%;
  }
}
@media only screen and (max-width: 400px) {
  .welcome-image {
    margin-top: -100px;
    max-width: 250px;
  }
}
