.about-us {
  display: flex;
  margin: 0;
  padding: 0;
  align-content: items;
  justify-content: center;
}

.about {
  width: 50vw;
  padding: 5%;
}

#about-tedx {
  float: left;
  width: 50vw;
}

#about-tedxvitb {
  float: right;
  width: 50vw;
}

h1 {
  font-weight: bold;
  color: #d9d5d5;
  font-size: 64px;
}

.x-logo {
  position: absolute;
  height: 80px;
  margin-left: -20px;
  margin-top: 10px;
}

.text-box {
  border: 2px #e62b1e solid;
  padding: 20px;
}
