@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

footer{
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.Footer{
  background-color: black;
 /* height:1000px ; 
 width:100vw; */
 height: 100vh;
}
@media only screen and (max-width: 700px){
  .Footer{
    height: 110vh;
  }
}
.Footer img{
  height: 60px ; 
  width: 280px ; 
  margin: 20px ; 
  position: relative;
}

@media only screen and (max-width: 700px){
  .Footer img{
    margin: 20px;
  }
}
.NewsLetter{
  background-color: black;
  color: white ;
  border-color: red;
  padding: 20px 30px;
  font-size: 20px;
  display: flex;
  margin-left:30px ;

}

.Footer Button:hover{
background-color: rgb(236, 45, 45) ; 
 
}
.Footer p{
  color: white ;
  margin: 30px ;
  display:flex ;
  align-items: center;
  justify-content: center;

}

.f{
  float : left ; 
}
.first, .third{
  width:30% ; 
}

.second{
  width:40% ; 

}
footer h3{
  margin-left: 40px ;
}

 h3, .links li  {
  color: white ;
list-style: none;
line-height: 4;
}

.links li a{
  text-decoration: none;
  color: white ; 
}
.links li a:hover{
  color:red;
}

.f img{
  height:32px ;
  width:32px ;  
 
}

.link:hover{
  color:red;
  cursor: pointer;
}

.f img:hover{

-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
cursor: pointer;
}

.contactLogo{
  margin-left: 40px ;
}

@media screen and (max-width: 600px) {
  .f {
    width: 100%;
  }
}

