.header {
    display: flex;
    height: 100px;
    width: 100vw;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
    padding: 0px 10px;
    transition: 50ms;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.spacer {
    height: 96px;
}
.header.mini {
    transition: 0ms;
    height: 50px;
}
.header-logo {
    width: 25%;
    max-width: 300px;
    min-width: 200px; 
}
.header-logo.mini {
    width: 10%;
    max-width: 200px;
    min-width: 100px;
}
.header-navbar {
    display: flex;
    width: 100%;
    padding-right: 50px;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.header-navbar-dropdown {
    display: none;
}
.navlink {
    color: white;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 5px 10px;
    margin: 0;
    border-radius: 10px;
    transition: 200ms;
}
.navlink:hover {
    color: white;
    background-color: white;
    color: black;
}
.navlink.active {
    background-color: #eb0028;
}

@media screen and (max-width: 800px) {
    .header {
        height: 100px;
        display: grid;
    }
    .header.mini {
        height: 60px;
    }
    .header-navbar {
        display: none;
    }
    .header-navbar-dropdown {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .navlink {
        font-size: small;
        padding: 5px;
    }
}