.header {
    display: flex;
    height: 150px;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: black;
    padding: 0px 10px;
}
.header-logo {
    width: 25%;
    max-width: 300px;
    min-width: 200px; 
}
.header-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.navlink {
    color: white;
    text-decoration: none;
    font-size: large;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .header {
        height: 100px;
    }
    .header-navbar {
        display: none;
    }
}